.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #f9c74f;
  padding: 0 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-link {
  padding: 10px;
  color: #f94144;
  font-weight: bold;
  text-decoration: none;
}

.header-link:hover {
  text-decoration: underline;
}
